*{
	margin: 0px;
	padding: 0px;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding-top: 50px;

}

.banner {
	width: 100%;
	float: left;
	background-image: url(../img/bgimg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.banner-title {
	width: 40%;
	float: left;
	margin: 0 5%;
}
.banner-title h2 {
	text-transform: uppercase;
	color: #fff;
	font-size: 28px;


}
.banner-title p {
	margin: 15px 0;
	color: #fff;
	
}

.and {
	color: #2ECC71;

}

.banner-title ul {
	list-style: none;

	
}
.banner-title ul li {

		
}

.banner-title ul li a {
	text-decoration: none;
	color: #fff;
	
}

fa.fa-check {
	color: #fff;

}

.banner-btn {
	margin: 5px 0;
	padding: 5px 18px;
	border-radius: 360px;
	background-color: #2ECC71;

}

.login-section {
	width: 40%;
	float: left;
	margin: 0 5%;
}

.user-login {
	width: 70%;
	margin: 0 auto;
	background: #2ECC71;
	text-align: center;
}

.user-login h2 {
	padding: 30px 0px;
	color: #fff;
	
}

.user-login p {
	color: #fff;

	
}


.user-login form {
	margin: 50px 0;
	
}

.form-control {
	width: 60%;
	padding: 5px 50px;
	background: #fff;
}

.login-btn {
	margin: 5px 0;
	padding: 5px 90px;
	background-color: #1A5276;
	text-transform: uppercase;
	color: #fff;
	border-color: green;

}